<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!--temp commenting to remove MIME error-->
        <!-- <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->
        <script src="https://kit.fontawesome.com/5b0235bb51.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <div class="">
                Article Analyzer
            </div>
            <div class="">
                <i class="fas fa-bars"></i>
            </div>
        </header>

        <main>
            <div class="">
                Powered by MeaningCloud Sentiment Analysis
            </div>
            <section>
                <form class="">
                    <input id="name" type="text" name="input" value="" placeholder="Paste link to analyze here.">
                    <input type="submit" name="" value="submit">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <a href="https://www.meaningcloud.com/developer/sentiment-analysis">MeaningCloud API</a>
        </footer>

    </body>
</html>
